.block {
  width: 200px;
  height: 200px;
  border: black 1px solid;
  background-color: green;
}

.violet {
  background-color: violet;
}
.orange {
  background-color: orange;
}
.pink {
  background-color: pink;
}
.purple {
  background-color: purple;
}
.palegreen {
  background-color: palegreen;
}

/* paoviolet */
